.form-container{
    width: 60%;
    height: 70px;
    background-color: #fff3;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.input-container{
    display: flex;
    gap: 10px;
}

.input-form{
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.input-form label{
    color: #fff;
    font-weight: 700;
}
.input-form input {
    width: 270px;
    padding: 5px;
    border-radius: 7px;
    border: none;
    outline: none;
}

.btn-form{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 20px;
    background-color: #f90;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.btn-form:hover{
    background-color: #f90;
    width: 100px;
    height:30px;
    border: 1.5px solid #fff;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
    outline: none;

}

@media screen and (max-width: 760px) {
    .form-container{
        width: 60%;
        height: fit-content;
        background-color: #fff3;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;
    }

    .input-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
  }